include LICENSE
include pytest.ini
recursive-include docs *.csv
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include fixtures *.json
recursive-include mapping_sheets *.csv
recursive-include ocdskingfisherviews *.ini
recursive-include ocdskingfisherviews *.mako
recursive-include sql *.sql
recursive-include tests *.py
