-r requirements.in
ocdskit
Flask
flake8
-e git+https://github.com/OpenDataServices/flatten-tool.git@v0.5.0#egg=flattentool
-e git+https://github.com/open-contracting/lib-cove-ocds.git@v0.1.0#egg=libcoveocds
ocdsmerge
pytest
blinker
sphinx
redis
