alabaster==0.7.12
alembic==1.0.7
atomicwrites==1.3.0
attrs==18.2.0
Babel==2.6.0
bleach==3.1.0
blinker==1.4
cached-property==1.5.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
commonmark==0.8.1
contextlib2==0.5.5
Django==2.1.7
docutils==0.14
et-xmlfile==1.0.1
Flask==1.0.2
-e git+https://github.com/OpenDataServices/flatten-tool.git@4c13ef0b32a59e810919a3de09bc8f64ce8f9392#egg=flattentool
future==0.17.1
idna==2.8
imagesize==1.1.0
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10
json-merge-patch==0.2
jsonref==0.2
jsonschema==3.0.1
-e git+https://github.com/open-contracting/lib-cove-ocds.git@2487c7160bb102559d34039a14bdeea38e25d5b6#egg=libcoveocds
logzero==1.5.0
lxml==4.3.2
Mako==1.0.7
MarkupSafe==1.1.1
more-itertools==6.0.0
-e git+https://github.com/open-contracting/kingfisher-process.git@81098c7c19120532801005df1656afdf9abe7f7a#egg=ocdskingfisher
ocdskit==0.0.5
ocdsmerge==0.5.1
openpyxl==2.6.0
packaging==19.0
pgpasslib==1.1.0
pluggy==0.9.0
psycopg2==2.7.7
py==1.8.0
Pygments==2.3.1
pyparsing==2.3.1
pyrsistent==0.14.11
pytest==4.3.0
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2018.9
redis==3.2.0
requests==2.21.0
rfc3987==1.3.8
schema==0.7.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.18
strict-rfc3339==0.7
urllib3==1.24.1
webencodings==0.5.1
Werkzeug==0.14.1
xmltodict==0.12.0
