name: CI
on: [push, pull_request]
env:
  BASEDIR: https://raw.githubusercontent.com/open-contracting/standard-maintenance-scripts/master
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432/tcp
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements_dev.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - run: curl -s -S --retry 3 $BASEDIR/tests/install.sh | bash -
    - run: pip install -r requirements_dev.txt
    - run: curl -s -S --retry 3 $BASEDIR/tests/script.sh | bash -
    - name: Install Kingfisher Process
      run: |
        git clone https://github.com/open-contracting/kingfisher-process.git /tmp/kingfisher-process
        pip install -r /tmp/kingfisher-process/requirements.txt
    - name: Setup Kingfisher Process database
      env:
        KINGFISHER_PROCESS_DB_URI: postgresql://postgres:postgres@localhost:${{ job.services.postgres.ports[5432] }}/postgres
      run: |
        python /tmp/kingfisher-process/ocdskingfisher-process-cli upgrade-database
        python /tmp/kingfisher-process/ocdskingfisher-process-cli new-collection 'new' '2000-01-01 00:00:00'
        python /tmp/kingfisher-process/ocdskingfisher-process-cli local-load 1 tests/fixtures release_package
    - name: Setup Kingfisher Views database
      env:
        PGUSER: postgres
        PGPASSWORD: postgres
        PGHOST: localhost
        PGPORT: ${{ job.services.postgres.ports[5432] }}
        PGDATABASE: postgres
      run: |
        psql -c 'CREATE SCHEMA views;'
        psql -c 'CREATE SCHEMA view_info;'
        psql -c 'CREATE SCHEMA view_meta;'
    - name: Test
      env:
        KINGFISHER_VIEWS_DB_URI: postgresql://postgres:postgres@localhost:${{ job.services.postgres.ports[5432] }}/postgres
      run: |
        alembic --raiseerr --config ocdskingfisherviews/alembic.ini upgrade head
        pytest --cov ocdskingfisherviews
    - env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: coveralls
